<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:targetApi="31"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:theme="@style/ActivityTheme">
        <meta-data
            android:name="theming-meta"
            android:value="meta_app_color" />
        <meta-data
            android:name="theming-meta-xml"
            android:value="@xml/meta_app_color" />
        <activity android:theme="@style/Theme.DialogWhenLarge" android:label="@string/unlock_effect" android:name="com.aj.effect.UnlockEffect" android:uiOptions="none"
            android:exported="true"
            android:resizeableActivity="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="com.samsung.settings.UnlockEffect"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
    </application>

</manifest>
